/***** signup page**********/

.signup-content {
  background-color: #f8f8f8;
  padding: 50px 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.signup-heading {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

/************ Homepage *************/
.home-content {
  background-color: #f8f8f8;
  padding: 50px 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 35px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.marketplace-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.marketplace-item {
  flex-basis: calc(33.33% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 200px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-right: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.marketplace-item:hover {
  transform: translateY(-5px);
}

.marketplace-item img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.marketplace-item .marketplace-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

.marketplace-item .btn-primary {
  background-color: #83bbcc;
  border-color: #83bbcc;
}

.marketplace-item .btn-secondary {
  background-color: #3c4042;
  border-color: #3c4042;
}

.marketplace-item .btn-primary:hover,
.marketplace-item .btn-secondary:hover {
  background-color: #3f5b63;
  border-color: #3f5b63;
}

.card-buttons {
  display: flex;
  justify-content: center;
}

.card-buttons a {
  margin: 0 5px;
}

/* Responsive styles */
@media screen and (min-width: 768px) {
  /* For iPads and larger screens */
  .marketplace-list {
    justify-content: space-between;
    gap: 10px;
  }

  .marketplace-item {
    flex-basis: calc(33.33% - 20px);
  }
}

@media screen and (min-width: 1024px) {
  /* For larger screens */
  .marketplace-item {
    flex-basis: calc(33.33% - 20px);
  }
}

/*********** MarketPlace **********/
.marketplace-content {
  background-color: #f8f8f8;
  padding: 20px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
}

.customer-reviews {
  margin-top: 50px;
}

.reviews-heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.marketplace-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  flex: 1 0 50%;
  max-width: 50%;
  margin-right: 10px;
  box-sizing: border-box;
}

.marketplace-heading {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #0fa6f7;
}

.marketplace-heading:hover {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #144e89;
  transition: font-size 0.3s, margin-bottom 0.3s, color 0.3s;
}

.marketplace-info {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.marketplace-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.marketplace-content a {
  text-decoration: none;
}
.marketplace-info p {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
}

.marketplace-info p:hover {
  font-size: 18px;
  margin-bottom: 10px;
  transition: font-size 0.3s, margin-bottom 0.3s;
}

.marketplace-info ul {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.marketplace-info li {
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  border: #0fa6f7 solid;
  border-radius: 5px;
}
.marketplace-info li:hover {
  font-size: 18px;
  margin-bottom: 10px;
  color: #144e89;
  transition: font-size 0.3s, margin-bottom 0.3s, color 0.3s;
}
.marketplace-info strong {
  font-weight: bold;
}

.customer-reviews-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.customer-reviews {
  margin-top: 20px;
  flex: 1 0 50%;
  max-width: 50%;
  margin-left: 10px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

.reviews-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.review-item {
  max-width: 900px;
  margin-bottom: 20px;
  padding: 20px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.review-item h3 {
  font-size: 16px;
  font-weight: bold;
  color: #0fa6f7;
  margin-bottom: 5px;
}
.review-item h3:hover {
  font-size: 18px;
  margin-bottom: 10px;
  color: #144e89;
  transition: font-size 0.3s, margin-bottom 0.3s, color 0.3s;
}
.review-item p {
  font-size: 16px;
  color: #000000;
}

.review-item .author {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
  font-style: italic;
}

.review-item .review-actions {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.review-item .review-actions button {
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  border: #0fa6f7 solid;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
}
.review-item .review-actions button:hover {
  font-size: 16px;
  margin-bottom: 10px;
  color: #144e89;
  transition: font-size 0.3s, margin-bottom 0.3s, color 0.3s;
}

.review-actions button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.add-review-button {
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  border: #0fa6f7 solid;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.add-review-button:hover {
  font-size: 20px;
  margin-bottom: 10px;
  color: #144e89;
  transition: font-size 0.3s, margin-bottom 0.3s, color 0.3s;
}

/* Add any additional styles or modifications here */

/* Responsive styles */
@media screen and (max-width: 767px) {
  .container {
    padding: 0 10px;
  }

  .marketplace-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .marketplace-content {
    flex-direction: column;
  }

  .marketplace-container,
  .customer-reviews {
    flex: 1 0 100%;
    max-width: 100%;
    margin: 0;
  }
}
/*****SignUp Form ******/

.signup-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.form-group label {
  color: #0fa6f7;
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-form button {
  width: 70%;
  padding: 10px;
  border: #0fa6f7 solid;
  background-color: #fff;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
}

.signup-form button:hover {
  font-size: 18px;
  color: #144e89;
  margin-bottom: 10px;
  transition: font-size 0.3s, margin-bottom 0.3s, color 0.3s;
}

/*****Review Form ******/
.review-container {
  max-width: 800px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-container h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #0fa6f7;
}
.review-container input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.review-container textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.submit-review-button {
  width: max-content;
  padding: 10px;
  border: #0fa6f7 solid;
  color: #000000;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.submit-review-button:hover {
  font-size: 20px;
  margin-bottom: 10px;
  color: #144e89;
  transition: font-size 0.3s, margin-bottom 0.3s, color 0.3s;
}

.review-message {
  color: #0fa6f7;
  font-weight: bold;
  font-size: 20px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  justify-content: center;
}
.review-message a {
  color: #0fa6f7;
  text-decoration: none;
  margin: 0 5px;
}
.review-message a:hover {
  font-size: 22px;
  color: #144e89;
  transition: font-size 0.3s, margin-bottom 0.3s, color 0.3s;
}

/* ************************Donation */
.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #0fa6f7;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #0fa6f7;
  border-radius: 4px;
  color: #fff;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid#0fa6f7;
  color: #fff;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.donButton {
  display: block;
  font-size: 16px;
  /* width: calc(100% - 30px); */
  width: 40%;
  height: 40px;
  margin: 40px auto 0;
  background-color: #0fa6f7;
  border-color: #0fa6f7;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
  border: none;
  text-align: center;
}

.donButton:hover {
  font-size: 20px;
  margin-bottom: 10px;
  color: #144e89;
  transition: font-size 0.3s, margin-bottom 0.3s, color 0.3s;
}

.donation {
  margin-left: 25%;
  margin-top: 5%;
  margin-right: 25%;
}
.new {
  display: block;
  background-color: #0fa6f7;
  border-color: #0fa6f7;
  border-radius: 4px;
  margin: auto;
  color: #fff;
  border: none;
  font-size: 18px;
  text-align: center;
}

.donheading {
  text-align: center;
}

.CardField-input-wrapper {
  color: #fff;
}
