.login-content {
  background-color: #f8f8f8;
  padding: 50px 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.login-heading {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}
