.navbar {
  background: #0fa6f7;
  color: #fff;
  padding: 10px 0;
  border: #0fa6f7c1 10px solid;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-brand {
  font-size: 25px;
  font-weight: 600;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  font-size: 18px;
  text-decoration: none;
  transition: color 0.2s;
  color: #fff;
}

.nav-link:hover {
  color: #144e89;
  transition: font-size 0.3s, margin-bottom 0.3s, color 0.3s;
}
